@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("S6uyw4BMUTPHjxAwWg.eot"/*tpa=http://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjxAwWg.eot*/);
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRn.eot"/*tpa=http://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRn.eot*/);
}
